@{
    ViewData["Title"] = "Home Page";
}
<head><meta name="viewport" content="width=device-width" />  
        <title>Index</title>  
        <script   src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous" type="text/javascript">
        alert("test");
        </script>
</head>
<div class="text-center">
    <h1 class="display-4">Navigate to Status page to see the Solution</h1>
</div>
